<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../..//resources/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,
           400;0,600;1,200;1,600&display=swap" rel="stylesheet">
           <script src="https://kit.fontawesome.com/4a085e9b53.js" crossorigin="anonymous"></script>

           <title>Sen'q Restaurant</title>
</head>
<body>
    <!--Header starts-->
    <section class="add">
        <div class="row">
              
              <div class="add-col">
                <div class="add-btn">
                    <button onclick="window.location.href='../auth/login.html'">Log in</button>
                    <button onclick="window.location.href='../auth/sign uo.html'">Sign up</button>
                    
                </div>      
              </div>
        </div>
       
    </section>
    <header class="header-Others">
       
        <!--Nav begins-->
        <nav>
           
            <span class="name">SEN'Q
                <img src="../../../resources/images/snk2.jpg" alt="logo"> 
            </span>
           
            <div class="nav-links" id="navLink" >
               <i class="fa fa-times" onclick="hideMenu()"></i> 
               <div class="continer">
                <button onclick="window.location.href='Book.html#takeAway'">Pick up</button>
                <button onclick="window.location.href='Book.html#delivery'">Delivery</button>
                <button onclick="window.location.href='Book.html#bookTable'">Book</button>
            </div>
               
                <ul>
                    <li><a href="../index1.html">Home</a></li>
                    <li><a href="../../views/ideas/aboutus.html">About</a></li>
                    <li><a href="menuu.html">Menu</a></li>
                    
                    <li><a href="contactus.html">Contact us</a></li>
                </ul> 
               
            </div>
           
            <i class="fa fa-bars" onclick="showMenu()"></i> 
        </nav>
    </header>    
    <!--Nav ends-->
    <section class="aboutus-page " id="about">
        <div class="row">
            <div class="about-title">
                <h1>About us</h1>
            </div>
        </div>
        <div class="row">
            <div class="about-text">
               <h2>Sen'q Restaurant</h2>
               <p>The word SEN'Q is a collection of food put in a special container called AGELGIL.It mainly practice 
                   in the rural area of Ethiopia to deliver food <br>for farmers specifically who work in a team for crop gathering,
                    at time of lunch their wives come with food inside Ageligl which is called SEN'Q and also with a traditional drink called Tela. 
                    Not only for farmers it is also used for 
                    a person who will travel longway by foot, when he gets tired he 
                   will rest and eat his Sinq whose mother or wive made it.</p>
                   
            </div>
            <div class="about-img">
               <div class="images">
                   <img src="../../..//resources/images/mayberawi.jpg" alt="Meyarebawi"> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mission">
            <h2>Mission</h2>
            <p>It is obvious that Ethiopian foods are unique in their own, so our mission is to introduce these foods to the other world.
                 And offering quality services based on customer need. Our website play an important role in managing the resturant's mission ,
                 it provide Menu page which allow customers to order their desired food in additional to that gives additional information about the
                  foods the resturant serve. If customers want a delivery or takeaway our website provide Delivery and TakeAway services with in the 
                  Reservation service which allow customer reserve table he/she can also order foods until they arrive. Announcment page, update any 
                  time when there is an announcement like special events or a new job offer. with in the events different packages for the customer 
                  who is visit our website mostly invite him/her as VIP guest to the resturant.
                
         </div>
        </div>   
    </section>
    <footer class="footer">
        <div class="row">
           <div class="footer-col">
               <h4>Our loction</h4>
               <p>Ethiopia,Addis Ababa,<br>Kasaches
            </p>
           </div>
           <div class="footer-col">
            <h4>Opening hours</h4>
            <p>Monday to Sunday<br>7:00 AM - 9:00 PM</p>
        </div>
        <div class="footer-col">
            <h4>Quick links</h4>
            
            <ul>
                <li><a href="../index1.html">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="menuu.html">Menu</a></li>
               
                <li><a href="">Privay</a></li>
                <li><a href="">Terms of use</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact us</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/iftu.tesfaye.505"><i class="fab fa-facebook"></i></a>
                <a href="https://t.me/Hggs12"><i class="fab fa-telegram"></i></a>
                <a href="https://www.instagram.com/edlghana"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="copyright">
                <small>&copy Sen'q restaurant,All right are reserved.</small>
            </div>
        </div>
    </footer>
    <!--footer section starts-->

<script src="../../../resources/js/main.js"></script>
</body>
</html>